<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Football League Selector</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Football League Selector</h1>
        </div>
        <div class="form-container">
            <form action="{{ url_for('selected_league') }}" method="post">
                <label for="league">Select a League:</label>
                <select name="league" id="league">
                    {% for league in leagues %}
                        <option value="{{ league }}">{{ league }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
